@import 'antd/dist/antd.css';


html {
  background-color: #00C08B;
}

body {
  background-color: #00C08B;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}